* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Red Hat Text";
    font-size: 16px;
    background-color:hsl(13, 31%, 94%);
}

.main-container {
    display: grid;
    gap: 5px;
    margin-top: 40px;
}

.hero-container{
    display: flex;   
}

.desserts-main{
    margin-left: 75px;
}

h1 {
    margin-left: 15px;
    margin-top: 25px;
    margin-bottom: 30px;
}   

.dessert-container {
    display: grid;
    grid-template-columns: 240px 240px 240px;

}

#waffle-all {
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container.active {
    /* border: 2px solid hsl(14, 86%, 42%); */
    border: 5px solid blue;
}

#food-image {
    width: 220px;
    height: 200px;
    border-radius: 12px;
}

#food-image.active {
    border: 5px green;
}

.cart-button {
    border-style: solid;
    border-radius: 35px; 
    border-width: 0.5px;
    border-color: hsl(14, 25%, 72%); 
    height: 38px;
    width: 145px;
    background-color: hsl(20, 50%, 98%);
    position: relative;
    bottom: 25px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.cart-button.active {
    justify-content: space-between;
    color: rgb(251, 242, 233);
    padding: 0 12px;
}

.circle {
    display: inline-flex;           /* Use inline-flex to center items */
    justify-content: center;       /* Center the icon */
    align-items: center;           /* Center the icon vertically */
    width: 16px;                   /* Set width of circle */
    height: 16px;                  /* Set height of circle */
    border-radius: 50%;            /* Make it circular */
    background-color: hsl(14, 86%, 42%);    /* Background color of the circle */
    cursor: pointer;               /* Change cursor to pointer */
    border: 1px solid rgb(251, 242, 233);
}

.circle img {
    padding: 3px; /* Adjust this value for more or less space */
    width: 100%; /* Optional: adjust icon size */
    height: auto; /* Maintain aspect ratio */
}


#food-info {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 5px;
    margin-left: 8px;
    margin-bottom: 20px;
}

.product-general {
    color: hsl(14, 25%, 72%)
}

.specific-info {
    font-weight: 500;
}

.price {
    color: hsl(14, 86%, 42%);
    font-weight: 455;
}

.attribution {
    margin: 30px;
    margin-left: 260px;
    width: 175px;
    font-size: 12px;
}

#cart-container {
    background-color: hsl(20, 50%, 98%);
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    padding:1.5rem;
    border-radius: 6px;
    width: 300px;
    height: 250px;
    margin-bottom: 5px;
    margin-top: 25px;
    margin-left: 18px;
}

#cart-quantity {
    color: hsl(14, 86%, 42%);
}

.cart-image{
    display: flex;
    justify-content: center;
    padding: 25px;
}

#added-items {
    color: hsl(12, 20%, 44%);
    font-weight:450;
    display: flex;
    justify-content: center;
    font-size: 12px;
}

.modal-container {
    display: flex;
    flex-direction: column;

    height: 600px;
    width: 600px;
    border: 2px solid red;
}

.confirmation-top {
    
}

.green-check {
    border: 2px solid blue;
}

.start-order {
    width: 200px;
}