#desserts {

}

#cart {

}



.container {
    display: flex;
    flex-flow:column wrap;
}

.waffle {
    
}

img {
    border-radius: 25px;
}

.creme {

}

.macaron {

}

.tiramisu {

}

.baklava {

}

.pie {

}

.cake {

}

.brownie {

}

.panna {

}

