* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Red Hat Text";
    font-size: 16px;
    background-color:hsl(13, 31%, 94%)
}

.main-container {
    display: grid;
    gap: 5px;
    margin-top: 40px;
}

.hero-container{
    display: flex;
    
}
.desserts-main{

}

#desserts {
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;

}    

.dessert-container {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 5px;
}

#waffle-all {

}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#food-image {
    width: 250px;
    height: 250px;
    border-radius: 12px;
    /* border: 2px solid hsl(14, 86%, 42%); */ only when selected
}

.cart-button {
    border-radius: 35px; 
    border-color: rgb(156, 151, 151); 
    height: 40px;
    width: 170px;
    background-color: hsl(20, 50%, 98%);
    position: relative;
    bottom: 20px;
}

#food-info {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 5px;
    margin-left: 25px;

}

.product-general {
    color: hsl(14, 25%, 72%)
}

.specific-info {
  
}

.price {
    color: hsl(14, 86%, 42%);
    font-weight: 600;
}

.product-all {

}

#cart-container {
    background-color: white;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    padding:0.5rem;
}

#your-cart {
    color: hsl(14, 86%, 42%);
    
}
.cart-image{
    display: flex;
    justify-content: center;
}

#added-items {
    color: hsl(12, 20%, 44%);
    font-weight:450;
}




.attribution {
    margin: 25px;
}

